
@keyframes orbit {
  0% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: rotate(180deg);
    z-index: 99;
  }
  7% {
    animation-timing-function: linear;
    opacity: 1;
    transform: rotate(300deg);
  }
  30% {
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: rotate(410deg);
  }
  39% {
    animation-timing-function: linear;
    opacity: 1;
    transform: rotate(645deg);
  }
  70% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: rotate(770deg);
  }
  75% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: rotate(900deg);
  }
  100%, 76% {
    opacity: 0;
    transform: rotate(900deg);
  }
}

.loadingSpinner {
  margin: 19px auto auto;
  position: relative;
  width: 42px;
  .wBall {
    //noinspection CssInvalidPropertyValue
    animation: 4.2325s ease 0s normal none infinite running orbit;
    height: 40px;
    opacity: 0;
    position: absolute;
    transform: rotate(225deg);
    width: 40px;
    .wInnerBall {
      background: #000 none repeat scroll 0 0;
      border-radius: 5px;
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
  #wBall_1 {
    animation-delay: 926ms;
  }
  #wBall_2 {
    animation-delay: 183ms;
  }
  #wBall_3 {
    animation-delay: 0.3665s;
  }
  #wBall_4 {
    animation-delay: 0.5495s;
  }
  #wBall_5 {
    animation-delay: 743ms;
  }
}